/pyESN/
/__pycache__/
/tests/__pycache__/
/.pytest_cache/
.ipynb_checkpoints
.~lock.uiuc_demand_data.csv#
.~lock.railsplitter_data.csv#
.~lock.solarfarm_data.csv#
_build
_build/*
*.aux
*.acn
*.aux
*.bbl
*.blg
*.glo
arfc-pres.ist
*.log
*.nav
*.out
*.snm
*.toc
*.npy
*.swp
.snakemake
.DS_Store
hidden_images/
